/* 840px  920 height */
/* 1rem = 1em = 16px */

@media (min-height: 52.5em) and (max-height: 57.5em) {
  .header {
    padding-top: 13rem;
    margin-bottom: 7.5rem;
  }

  .heading--2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  .cred-message {
    font-size: 1.6rem;
  }

  .form--container {
    margin-bottom: 3.6rem;
  }

  .form--group {
    margin-bottom: 2.6rem;
  }

  .form--input {
    height: 5.2rem;
  }

  .forgot-password {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
  }

  .or {
    font-size: 1.7rem;
  }

  .sign-up {
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
  }

  .footer {
    padding: 11.6rem 0;
  }

  .footer-link {
    margin: 0 1.6rem;
    font-size: 2.5rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    margin-top: 2.8rem;
    height: 5.2rem;
  }
}
