* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  font-weight: 300;
  color: #555;
  overflow-x: hidden;
  width: 100%;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.6rem;
  margin-bottom: 6.5rem;
  padding-top: 12rem;
}

footer {
  padding: 12.8rem 0;
}

.logo img {
  height: 50px;
}

.heading--2 {
  text-align: center;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: 500;
}

.cred-message {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #dee2e6;
}

.form--container {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.form {
  width: 33rem;
}

.form--group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  position: relative;
}

.zmb {
  margin-bottom: 0;
}

/* .form--label {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.65rem;
} */

.form-control-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #339af0;
}

.form--input {
  border-radius: 0.85rem;
  height: 4rem;
  padding: 1rem;
  padding-left: 4rem;
  border: 1px solid #ccc;
}

/* .btn--container {
  display: flex;
  justify-content: center;
} */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  height: 4rem;
  padding: 0rem 14.1rem;
  margin-top: 2.2rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 0.85rem;
  transition: all 0.3s;
  color: #fff;
  background-color: #339af0;
}

.no-wrap {
  white-space: nowrap;
}

/* .btn:link,
.btn:visited {
  background-color: #f3f2f2;
}

.btn--login:hover,
.btn--full:active {
  background-color: #00000038;
} */

.forgot-password {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.link:link {
  text-decoration: none;
}

.link:hover,
.link:active {
  border-bottom: 1px solid #dee2e6;
}

.or {
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
}

.sign-up {
  margin-top: 0.6rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
}
