* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
  font-weight: 300;
  color: #555;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f2f2f2;
  margin-bottom: 5rem;
}

br {
  margin: 10rem 0;
}

.logo img {
  height: 50px;
}

.form--container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form--label {
  font-size: 2rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}
